<?xml version="1.0" encoding="utf-8" ?>
<AuctionHouses>
  <auctions>
    <auction name="Auction3" location="Auction3" type="Sql" />
    <auction name="Auction1" location="Auction1" type="Json" />
    <auction name="Auction2" location="Auction2" type="Json" />
    <auction name="auction6" location="auction6" type="Sql" />
    <auction name="Auction4" location="Auction4" type="Json" />
  </auctions>
</AuctionHouses>
