@{
    ViewBag.Title = "NotFound";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="error half">
    <h2>@Resource._notAuthorized</h2>
    <span>@Resource._notAuthorized_Text</span>
    @Html.ActionLink(Resource._mainPage, "Index", "Home", new { area = "" }, new { @class = "ui button basic blue" })
</div>
