@model IEnumerable<Auction.Presentation.Models.CategoryViewModel>


<div class="ui pointing dropdown link item">
    <span class="text">@Resource._app_category</span>
    <i class="dropdown icon"></i>
    <div class="menu">
        @foreach (var item in Model)
        {

            <a href="@Url.Action("Category","Home", new { id = item.Id })" class="item">
                @item.Name
            </a>
            <div class="divider"></div>
        }
    </div>
</div>





