.admin_panel{
    width:80%;
    margin: 70px auto;
}

.ui.form button{
    float: right;
    width:30%;
    min-width:150px;
}

textarea{
    max-height:30em;
}

.link{
    margin-top:10em;
}

.admin.image{
    width:100%;
}

.field-validation-error{
    color:red;
    position:relative;
    left:10%;
}

.field-validation-valid {
    display: none;
}

.center{
    text-align: center;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}

.invisible{
    display:none;
}